body {
    background-color: #282931;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.search {
    width: 335px;
    margin: auto;
}

.description {
    position: relative;
    margin: auto;
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 300;
    max-width: 600px;
}

.searchField {
    margin: auto;
    padding: 5px;
    position: relative;
    font-family: "Roboto";
    font-size: 20pt;
    width: 325px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.state {
    margin-bottom: 15px;
}

.outputBox {
    font-family: "Roboto";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24pt;
    padding: 10px;
    margin: auto;
    width: 315px;
    height: 100px;
    border: 1px solid #FFFFFF;
    margin-bottom: 50px;
}

.download {
    position: relative;
    margin: auto;
    background-color: #464646;
    font-family: "Roboto";
    font-size: 24pt;
    font-weight: 700;
    color: #FFFFFF;
    width: 256px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 2px;
    box-shadow: 2px 5px 8px #000000;
}

@media only screen and (max-width: 385px) {
    .outputBox {
        font-size: 18pt;
        width: 100%;
        padding: 0px;
    }

    .searchField {
        width: 99%;
    }

    .search {
        width: 100%;
    }
}